<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pech.libs.alarmclock">
    <application>
        <service android:name="com.pech.libs.alarmclock.AlarmService" />
        <receiver android:name="com.pech.libs.alarmclock.AlarmReceiver" android:enabled="true" android:exported="true" />
    </application>
    </manifest>
